#injected-header {
    width: 100%;
    line-height: 1;
}
#injected-footer {
    width: 100%;    
}

.injected header {    
    top: 0;
    left: 0;
    width: 100%;
}
.injected footer {
    text-align: left;
    width: 100%;
}

.injected nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;
}

.injected nav a {
    display: inline;
    color: var(--clr-title);
}

.injected nav a:hover {
    color: var(--clr-link);
}

.injected .nav-title {
    text-align: left;
    text-decoration: none;
    font-weight: 500;
    transition: all .15s ease-in;
    text-transform: uppercase;
    letter-spacing: .075rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.injected #nav-toggle {
    display: none;
}
.injected .nav-button {
    display: none;
}

.injected .menu-sep {
    display: none;
}

.injected .nav-list {
    display: inline;
    float: right;    
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.injected .nav-item {
    float: left;
    margin: 0;
    position: relative;
}

.injected .nav-link {
    position: relative;
    float: right;
    margin: 0;
}

.injected .nav-link {
    margin-left: 2rem;
    margin-right: 0rem;
    text-decoration: none;
    transition: all .15s ease-in;
}

.injected .separator {
    width: 100%;
    height: 0.125rem;
    background: var(--bg-code);
    margin-top: 1rem;    
}

.injected address {
    padding-left: 5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;    
}


@media only screen and (max-width: 768px) {
    .injected .nav-button {
	display: inline;
	position: relative;
	float: right;
	font-size: 1rem;
    }
    .injected .nav-button span::before {
	display: inline-block;
	content: '\2807';
	font-size: 2rem;
	transform: translateX(0.25rem) translateY(-0.5rem);
	
    }
    .injected nav #nav-toggle:checked + label span::before {
	transform: translateX(0.04rem) translateY(-0.25rem) rotate(90deg);
    }    
    .injected .nav-list {
	position: relative;
	display: none;
	float: none !important;
	z-index: 5;
	width: 100%;
	margin-top: 1rem;
	padding-left: 0;
	padding-right: 0;
	opacity: 0;
    }
    .injected nav #nav-toggle:checked + label + .menu-sep {
	display: block;
	width: 100vw;
	margin-left: -6%;
	margin-right: -5%;
	margin-bottom: 1rem;
    }    
    .injected nav #nav-toggle:checked + label ~ ul {
	display: block;
	opacity: 1;
	max-height: 100rem;
    }    
    .injected .nav-item {
	float: none !important;
	text-align: center !important;
    }
    .injected .nav-link {
	line-height: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
	float: none !important;
    }
}
